<html>
  <body>
    <%=product.title%> <br>
    
    <%=product.name%> <br>
    <%=product.sponsor.name%> <br>
    sponsor Bio: <%=product.sponsor.name%> <p>
    <%=product.description%><br>
  </body>
</html>